.footer 
  background: var(--veryDarkBlue)
  text-align: center
  padding: 3em 0
  a 
    color: white
    text-decoration: none
  ul 
    margin: 2em 0
    li 
      padding: 1em 0
      text-transform: uppercase
      a 
        color: alpha(#fff, .8)
        letter-spacing: 1px
  &-social
    a 
      width: 40px
      height 40px
      display: inline-block
    .facebook 
      background: url("../images/icon-facebook.svg") no-repeat center
    .twitter 
      background: url(../images/icon-twitter.svg) no-repeat center
