.join 
  text-align: center
  background: var(--softBlue)
  color: white
  padding: 3em 0
  margin-top: 3em
  small 
    text-transform: uppercase
    letter-spacing: 4px
  .form 
    &-input
      width: 100%
      padding: 1.5em
      box-sizing: border-box
      margin-bottom: 1em
      border: none
      border-radius: .5em
      outline: none 
    ::placeholder 
      color: var(--grayishBlue)
    input[type="submit"]
      margin: 0
      outline: none
      